{% extends 'base.html' %}
{% block content %}
            
    {% if lista %}
        <a class="btn btn-primary" href="{% url 'nova_formapgto' %}">Adicionar</a>
		<ul class="list-group">
		{% for i in lista %}
			<li class="list-group-item list-group-item-action">
                <a href="/fluxo/formapgto/{{ i.id }}">{{ i.descricao }} </a>
                <br />
                <a class="btn btn-danger" href="/fluxo/formapgto/deletar/{{ i.id }}">Deletar</a>
                <br />
                <a class="btn btn-success" href="/fluxo/formapgto/atualizar/{{ i.id }}">Atualizar</a>
            </li>
            <br />
		{% endfor %}
        </ul>
	{% else %}
		<p>Nenhum item localizado para exibição.</p>
    {% endif %}

{% endblock %}