{% extends 'base.html' %}
{% block content %}
            
    {% if lista %}
        {% if not lista %}
            <a class="btn btn-primary" href="{% url 'novo_saldoinicial' %}">Adicionar</a>
        {% endif %}

		<ul class="list-group"> 
		{% for i in lista %}
			<li class="list-group-item list-group-item-action">
                <p>R$ {{ i.valorinicial }}</p>
                <br />
                <a class="btn btn-danger" href="/fluxo/saldoinicial/deletar/{{ i.id }}">Deletar</a>
                <br />
                <a class="btn btn-success" href="/fluxo/saldoinicial/atualizar/{{ i.id }}">Atualizar</a>
            </li>
            <br />
		{% endfor %}
        </ul>
	{% else %}
		<p>Nenhum saldo localizado para exibição.</p>
    {% endif %}

{% endblock %}