{% extends 'base.html' %}
{% block content %}
            
	{% if lista %}
        <a class="btn btn-primary" href="{% url 'novo_titulopagar' %}">Adicionar</a>
        <ul class="list-group">
		{% for i in lista %}
			<li class="list-group-item list-group-item-action">
                <a href="/fluxo/pagar/{{ i.id }}">{{ i.descricao }}, R$ {{ i.valor }} </a>
                <br />
                <a class="btn btn-danger" href="/fluxo/pagar/deletar/{{ i.id }}">Deletar</a>
                <br />
                <a class="btn btn-success" class="btn btn-success" href="/fluxo/pagar/atualizar/{{ i.id }}">Atualizar</a>
            </li>
            <br />
		{% endfor %}
        </ul>
	{% else %}
		<p>Nenhum item localizado para exibição.</p>
    {% endif %}

{% endblock %}